.Cell {
  height: 80px;
  width: 80px;
  background-color: #263238;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}
table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}

.Cell-lit {
  background-color: #00bcd4;
}